body {
    display: flex;
    background-color: rgb(0, 0, 0);
    margin: 0;
}

/* Inicio header */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    font-family: "Work Sans", sans-serif;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    width: 95.2%;
    height: 4.7rem;
    z-index: 1;
}

@media (max-width: 768px) {
  header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 3rem;
  }
}

#logo h2{
    font-weight: 700;
    color: #9A3412;
}

@media (max-width: 768px) {
  #logo h2 {
    font-weight: 700;
    font-size: 16px;
    margin-left: -7vw;
  }
}

#login {
    font-weight: 700;
    width: 8vw;
    height: 7vh;
    border: transparent;
    border-radius: 10px;
    background-color: #DB4B1F;
    color: white;
}

@media (max-width: 768px) {
  #login {
    margin-right: 40px;
    width: 30vw;
    height: 6vh;
  }
}
/* Fim Header */

/* Inicio container */
/* Inicio foto */
#container {
    width: 100%;
    height: 100%;
}

#foto {
    width: 100%;
    height: 100vh;
}

#foto img {
    width: 100%;
    height: 100%;
}

.imgfoto {
    opacity: 70%;
}

#container h1 {
    position: absolute;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    top: 31vh;
    left: 4vw;
    font-size: 4rem;
    font-weight: 800;
    max-width: 600px;
}

@media (max-width: 768px) {
  #container h1 {
    font-size: 2rem;
    left: 4vw;
    max-width: 200px;
  }
}

#container h6 {
    position: absolute;
    top: 26vh;
    left: 4.5vw;
    padding: 8px 16px;
    color: white;
    background-color: rgba(36, 78, 8, 0.5);
    border-radius: 16px;
}

@media (max-width: 768px) {
  #container h6 {
    top: 27vh;
    font-size: 0.45rem;
    padding: 3.5px 12px;
  }
}
/* Fim foto */

/* Inicio apresentação */
/* Inicio pergunta */
#apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #F9F6F0;
    padding-top: 5rem;
}

#pergunta {
    padding-bottom: 5rem;
}

#pergunta h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #1B110E;
    font-size: 3vw;
    font-weight: 800;
}

#pergunta p {
    font-family: "Work sans", sans-serif;
    color: #5A413A;
    text-align: center;
    max-width: 600px;
}
/* Fim pergunta */

/* Inicio propriedades */
#propriedades {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    height: 30rem;
    background-color: #FFFFFF;
}

#gestao {
    flex: 1;
    width: 47.5%;
}

#propriedades h3 {
    font-family: "Plus Jakarta Sans", sans-serif;
}

#propriedades p {
    font-family: "Work sans", sans-serif;
    max-width: 500px;
}

#propriedades img {
    flex: 1;
    max-width: 570px;
    max-height: 320.63px;
    border-radius: 10px;
}