body {
    display: flex;
    background-color: rgb(0, 0, 0);
    margin: 0;
}

p {
    font-family: "Work Sans", sans-serif;
}

/* Inicio header */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    font-family: "Work Sans", sans-serif;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    width: 95.2%;
    height: 4.7rem;
    z-index: 1;
}

@media (max-width: 768px) {
  header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 3rem;
  }
}

#logo h2{
    font-weight: 700;
    color: #9A3412;
}

@media (max-width: 768px) {
  #logo h2 {
    font-weight: 700;
    font-size: 16px;
    margin-left: -7vw;
  }
}

#login {
    font-weight: 700;
    width: 8vw;
    height: 7vh;
    border: transparent;
    border-radius: 10px;
    background-color: #DB4B1F;
    color: white;
}

@media (max-width: 768px) {
  #login {
    margin-right: 40px;
    width: 30vw;
    height: 6vh;
  }
}
/* Fim Header */

/* Inicio container */
/* Inicio foto */
#container {
    width: 100%;
    height: 100%;
}

#foto {
    width: 100%;
    height: 100vh;
}

#foto img {
    width: 100%;
    height: 100%;
}

.imgfoto {
    opacity: 70%;
}

#container h1 {
    position: absolute;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    top: 31vh;
    left: 4vw;
    font-size: 4rem;
    font-weight: 800;
    max-width: 600px;
}

@media (max-width: 768px) {
  #container h1 {
    font-size: 2rem;
    left: 4vw;
    max-width: 200px;
  }
}

#container h6 {
    position: absolute;
    top: 26vh;
    left: 4.5vw;
    padding: 8px 16px;
    color: white;
    background-color: rgba(36, 78, 8, 0.5);
    border-radius: 16px;
}

@media (max-width: 768px) {
  #container h6 {
    top: 27vh;
    font-size: 0.45rem;
    padding: 3.5px 12px;
  }
}
/* Fim foto */

/* Inicio apresentação */
/* Inicio pergunta */
#apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #F9F6F0;
    padding-top: 5rem;
    gap: 2.5rem;
}

#pergunta {
    padding-bottom: 5rem;
}

#pergunta h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #1B110E;
    font-size: 3vw;
    font-weight: 800;
}

@media (max-width: 768px) {
  #pergunta h2 {
    font-size: 6vw;
    padding-left: 0.5rem;
  }
}

#pergunta p {
    font-family: "Work sans", sans-serif;
    color: #5A413A;
    text-align: center;
    max-width: 600px;
}
/* Fim pergunta */

/* Inicio propriedades */
#propriedades {
    display: flex;
    width: 94%;
    border: 1px;
    border-radius: 10px;
    padding: 3rem 0;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

#gestao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
}

@media (max-width: 768px) {
  #gestao {
    flex-direction: column;
  }
}

#texto {
    flex: 1;
    max-width: 500px;
    padding: 0 3rem;
}

#texto p {
    font-family: "Work sans", sans-serif;
    color: rgb(90 65 58);
    line-height: 1.65;
}

#texto h3 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

#imagem{
    flex: 1;
}

@media (max-width: 768px) {
  #imagem {
    padding-left: 1.5rem;
  }
}

.fotocampo{
    width: 95%;
    height: 50vh;
    border-radius: 10px;
}

.fa-map {
    color: #DB4B1F;
    background-color: rgba(219, 75, 31, 0.1);
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
  .fa-map { 
    margin-left: 3rem;
  }
}
/* Fim propriedades */

/* Inicio controle */
#controle {
    display: flex;
    flex-direction: row;
    width: 94%;
    border: 1px;
    border-radius: 10px;
    padding: 3rem 0;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

#rebanho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
}

@media (max-width: 768px) {
  #rebanho {
    flex-direction: column;
  }
}

#intro {
    flex: 1;
    max-width: 400px;
    padding: 0 1.5rem;
}

#intro p {
    font-family: "Work sans", sans-serif;
    color: rgb(90 65 58);
    line-height: 1.65;
}

#intro h3 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.fa-paw {
    color: #956050;
    background-color: rgba(149, 96, 80, 0.1);
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
  .fa-paw{
    margin-left: 3rem;
  }
}

#badge {
    font-family: "Work sans", sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1rem;
    width: 4.5rem;
    border-radius: 10px;
    padding: 0.25rem 0.75rem;
    color: #956050;
    background-color: rgba(149, 96, 80, 0.15);

}

#imagens {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0 1.5rem;
}

@media (max-width: 768px) {
  #imagens {
    flex-direction: column;
  }
}

#imagens img {
    width: 14.8rem;
    height: 18.5rem;
    border-radius: 10px;
    object-fit: cover;
}

#imagem1 {
    display: flex;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

#tag1 {
    position: absolute;
    background-color: #FFFFFFCC;
    font-weight: 600;
    font-size: 10px;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    top: 16.3rem;
    left: 0.5rem;
}

#imagem2 {
    display: flex;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

#tag2 {
    position: absolute;
    background-color: #FFFFFFCC;
    font-weight: 600;
    font-size: 10px;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    top: 16.3rem;
    left: 0.5rem;
}

#imagem3 {
    display: flex;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

#tag3 {
    position: absolute;
    background-color: #FFFFFFCC;
    font-weight: 600;
    font-size: 10px;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    top: 16.3rem;
    left: 0.5rem;
}

#imagens img {
    transform: 0.3s;
    transition: 0.4s ease;
}

#imagens img:hover {
    transform: scale(1.1);
}
/* Fim controle */