@use "../../../assets/resources/scss/globals" as *;

body {
  background-color: $cor-fundo-principal;

  header {
    background-color: $cor-fundo-principal;
    box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.07);
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    .logo {
      max-width: 7rem;
      height: auto;
    }
  }

  main section {
    .voltar {
      &:hover {
        color: $cor-primaria;
      }
      .seta1 {
        transition: transform 0.3s ease;
        display: inline-block;
      }

      &:hover .seta1 {
        transform: translateX(-0.375rem);
      }
    }

    .form-select {
      color: $cor-texto-corpo;
      box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);

      &:focus {
        border: 0.0625rem solid $cor-primaria;
        box-shadow: none;
      }
    }

    .form-check-input {
      &:checked {
        background-color: $cor-primaria;
        border: none;
        box-shadow: none;
      }
    }

    .botao-drop {
      background-color: $cor-neutra !important;
    }

    .botao-off {
      color: $cor-filtro;
      background-color: transparent !important;
      --bs-btn-color: $cor-filtro !important;
      --bs-btn-active-color: $cor-filtro !important;
      --bs-btn-hover-color: $cor-filtro !important;
      --bs-btn-focus-color: $cor-filtro !important;
    }

    h1 {
      font-size: $tamanho-titulo-principal;
    }

    @media (max-width: 768px) {
      .w-md-auto {
        width: 100% !important;
      }
    }

    .cards {
      .card {
        box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
      }

      i {
        color: $cor-texto-principal;
        font-family: $fonte-texto;
        font-size: $tamanho-titulo-secundario;
        font-weight: $peso-botao;
        border: 0.0625rem solid rgba($cor-neutra, 0.2);
        background-color: rgba($cor-neutra, 0.1);
      }

      .badge {
        color: $cor-texto-principal;
        font-family: $fonte-texto;
        font-size: $tamanho-titulo-secundario;
        font-weight: $peso-botao;
        border: 0.0625rem solid rgba($cor-neutra, 0.2);
        background-color: rgba($cor-neutra, 0.1);
      }

      h5 {
        font-weight: $peso-botao;
      }

      p {
        color: rgba($cor-texto-corpo, 0.7);
      }
    }
  }
}
