@use "../../../assets/resources/scss/globals" as *;

body {
  background-color: $cor-fundo-principal;

  header {
    background-color: $cor-fundo-principal;
    box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.07);
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    .logo {
      max-width: 7rem;
      height: auto;
    }
  }

  main {
    .input-group {
      border-radius: 2rem;
      box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);

      input {
        padding: 0.8rem;
        border-radius: 2rem;
      }
    }

    .input-group-text {
      border-radius: 2rem;
    }

    .botao-flutuante {
      position: fixed;
      bottom: 1.5rem;
      right: 1.5rem;
      border-radius: 2.5rem;
      z-index: 1000;
    }

    .cards {
      .card {
        &:hover {
          box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
        }

        &:active {
          transform: scale(0.95);
          transition: transform 0.2s ease;
        }

        img {
          &:hover {
            filter: brightness(1.1);
            transition: filter 0.5s ease;
          }
        }
      }
    }

    .card-body {
      .badge {
        background-color: rgba($cor-sucesso, 0.1);
        color: $cor-sucesso-escuro;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border: 0.0625rem solid rgba($cor-sucesso-escuro, 0.2);
      }
    }

    .btn-excluir {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      color: rgb(206, 104, 117);
      transition: color 0.2s ease;
      border: none;

      &:hover {
        color: #f30404;
      }
    }
  }
}
