@use "../../assets/scss/globals" as *;


body {
    background-color: $cor-fundo-principal;


header {
    background-color: $cor-superficie;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;


.logo {
    max-width: 9.375rem;
    height: auto;
  }
 }

 main {
    .input-group {
        border-radius: 2rem;
        border: none;
        box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);

        input {
            padding: 0.8rem;
            border-radius: 2rem;
        }
    }

    .input-group-text {
        border-radius: 2rem;
    }

    .botao-flutuante {
        position: fixed;
        bottom: 1.5rem;
        right: 1.5rem;
        border-radius: 2.5rem;
        z-index: 1000;
    }
 }
}