h1,
h2,
h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #1b110e;
  font-weight: 650;
}

p {
  font-family: "Work Sans", sans-serif;
  color: #5a413a;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.btn {
  font-family: "Work Sans", sans-serif;
  transition: all 0.2s ease;
}
.btn.btn-primary {
  background-color: #db4b1f;
  font-weight: 550;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-focus-box-shadow: none;
  --bs-btn-box-shadow: none;
}
.btn.btn-primary:hover {
  background-color: #9a3412;
}
.btn.btn-primary:active {
  transform: scale(0.9);
}

label {
  font-weight: 400;
}

.input-group {
  border: 0.0938rem solid #ced4da;
  border-radius: 0.375rem;
}
.input-group:focus-within {
  border-color: #db4b1f;
}
.input-group .input-group-text {
  background-color: #ffffff;
  border: none;
}
.input-group .form-control {
  border: none;
  background-color: #ffffff;
}
.input-group .form-control:focus {
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f3eae8 inset !important;
  -webkit-text-fill-color: #5a413a !important;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

body {
  background-color: #f7f3f1;
}
body main .imagem h1 {
  font-size: clamp(1.875rem, 1.6513rem + 0.994vw, 2.5rem);
  color: #ffffff;
  font-weight: 650;
}
body main .imagem p {
  font-size: 0.875rem;
  color: #ffedd5;
  font-weight: 400;
}
body main .filtro {
  background-color: rgba(49, 4, 45, 0.3);
}
body main .div-textos {
  background-color: #ffffff;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  body main .div-textos {
    border-radius: 1rem;
  }
}
body main .div-textos .cabecalho h3 {
  color: #db4b1f;
  font-weight: 650;
}
body main .div-textos .cabecalho h1 {
  font-size: clamp(1.875rem, 1.6513rem + 0.994vw, 2.5rem);
  color: #1b110e;
  font-weight: 650;
}
body main .div-textos .cabecalho p {
  color: #5a413a;
  font-weight: 400;
}
body main .div-textos .input-group {
  border-radius: 0.75rem !important;
}
body main .div-textos .input-group .form-control {
  background-color: #f3eae8;
  border-radius: 0.75rem !important;
}
body main .div-textos .input-group .form-control::-moz-placeholder {
  font-family: "Work Sans", sans-serif;
  color: rgba(90, 65, 58, 0.6);
  font-weight: 400;
}
body main .div-textos .input-group .form-control::placeholder {
  font-family: "Work Sans", sans-serif;
  color: rgba(90, 65, 58, 0.6);
  font-weight: 400;
}
body main label {
  font-family: "Work Sans", sans-serif;
  color: #db4b1f;
  font-size: 0.875rem;
  font-weight: 550;
}
body main .botao-salvar .seta1 {
  transition: transform 0.3s ease;
  display: inline-block;
}
body main .botao-salvar:hover .seta1 {
  transform: translateX(0.375rem);
}
body main .botao-cancelar {
  color: #5a413a;
  border: none;
}
body main .botao-cancelar:hover {
  color: #db4b1f;
}
body main .botao-cancelar .seta2 {
  transition: transform 0.3s ease;
  display: inline-block;
}
body main .botao-cancelar:hover .seta2 {
  transform: translateX(-0.375rem);
}/*# sourceMappingURL=nova-propriedade.css.map */