@use "../../assets/scss/globals" as *;

body {
  background-color: $cor-fundo-alternativa;
}

main {
  h1 {
    color: $cor-primaria;
    font-size: 1.875rem;
  }

  h2 {
    @include titulo;
    font-size: 1.25rem;
  }

  p {
    color: $cor-neutra;
  }

  a {
    color: $cor-primaria;
  }
}
